MainWindow
{
background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
                stop:0 rgba(255,255,255,0.15), stop:1 rgba(50,50,50,0.15));
}

/* MainMenuWidget */

#MainMenuTitleLabel
{
color: rgb(95, 116, 163);
font: bold 60px;
}

#MainMenuBelowTitleLabel
{
color: rgb(95, 116, 163);
font: 12px;
}

#MainMenuButton
{
background: rgb(35, 69, 146);
font: bold 30px;
border: 1px solid rgb(6, 44, 132);
color: rgb(122, 138, 175);
border-radius: 3px;
font-family: arial;
padding: 5px;
}

#MainMenuButton:hover
{
background: qlineargradient(x1:1, y1:1, x2:0, y2:0,
            stop:0 rgb(6, 44, 132), stop:1 rgb(35, 69, 146));
}

#MainMenuButton:pressed
{
background: qlineargradient(x1:1, y1:1, x2:0, y2:0,
            stop:0 rgb(4, 40, 122), stop:1 rgb(35, 69, 146));
color: rgb(95, 116, 163);
}

/* ServerWidget style */

#ServerWidgetBackButton
{
background: rgb(35, 69, 146);
font: bold 15px;
border: 1px solid rgb(6, 44, 132);
color: rgb(122, 138, 175);
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
font-family: arial;
padding: 5px;
}

#ServerWidgetStateButton
{
background: rgb(35, 69, 146);
font: bold 15px;
border: 1px solid rgb(6, 44, 132);
color: rgb(122, 138, 175);
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
font-family: arial;
padding: 5px;
}

#ServerWidgetBackButton:hover,
#ServerWidgetStateButton:hover
{
background: qlineargradient(x1:1, y1:1, x2:0, y2:0,
            stop:0 rgb(6, 44, 132), stop:1 rgb(35, 69, 146));
}

#ServerWidgetBackButton:pressed,
#ServerWidgetStateButton:pressed
{
background: qlineargradient(x1:1, y1:1, x2:0, y2:0,
            stop:0 rgb(4, 40, 122), stop:1 rgb(35, 69, 146));
color: rgb(95, 116, 163);
}

#ServerWidgetInput
{
border-top: 1px solid rgb(6, 44, 132);
border-bottom: 1px solid rgb(6, 44, 132);
background: rgb(35, 69, 146);
color: rgb(122, 138, 175);
font: 14px;
font-family: arial;
padding: 5px;
}

/* ClientWidget style */

#ClientWidgetBackButton
{
background: rgb(35, 69, 146);
font: bold 15px;
border-top: 1px solid rgb(6, 44, 132);
border-bottom: 1px solid rgb(6, 44, 132);
border-left: 1px solid rgb(6, 44, 132);
color: rgb(122, 138, 175);
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
font-family: arial;
padding: 5px;
}

#ClientWidgetStateButton
{
background: rgb(35, 69, 146);
font: bold 15px;
border: 1px solid rgb(6, 44, 132);
color: rgb(122, 138, 175);
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
font-family: arial;
padding: 5px;
}

#ClientWidgetBackButton:hover,
#ClientWidgetStateButton:hover
{
background: qlineargradient(x1:1, y1:1, x2:0, y2:0,
            stop:0 rgb(6, 44, 132), stop:1 rgb(35, 69, 146));
}

#ClientWidgetBackButton:pressed,
#ClientWidgetStateButton:pressed
{
background: qlineargradient(x1:1, y1:1, x2:0, y2:0,
            stop:0 rgb(4, 40, 122), stop:1 rgb(35, 69, 146));
color: rgb(95, 116, 163);
}

#ClientWidgetInput
{
border-top: 1px solid rgb(6, 44, 132);
border-bottom: 1px solid rgb(6, 44, 132);
border-left: 1px solid rgb(6, 44, 132);
background: rgb(35, 69, 146);
color: rgb(122, 138, 175);
font: 14px;
font-family: arial;
padding: 5px;
}

/* Chat Widget */

#ChatWidget
{
background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
                stop:0 rgb(30, 30, 30), stop:1 rgb(65, 61, 52));
border: 3px solid rgb(13, 13, 13);
border-radius: 3px;
}

#ChatWidgetHeaderBar
{
background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
                stop:0 rgb(9, 9, 9), stop:1 rgb(36, 36, 34));
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top: 2px solid rgb(13, 13, 13);
border-left: 2px solid rgb(13, 13, 13);
border-right: 2px solid rgb(13, 13, 13);
}

#ChatWidgetTextInputBar
{
background: qlineargradient(x1:0, y1:1, x2:1, y2:0,
                stop:0 rgb(9, 9, 9), stop:1 rgb(36, 36, 34));
border: none;
font-size: 18px;
color: rgb(25, 131, 251);
padding-left: 5px;
padding-right: 5px;
border-bottom: 2px solid rgb(13, 13, 13);
border-left: 2px solid rgb(13, 13, 13);
border-right: 2px solid rgb(13, 13, 13);
selection-background-color: darkgray;
}

#ChatWidgetMessagesArea
{
background: transparent;
border: none;
color: rgb(214, 213, 213);
font-size: 16px;
selection-background-color: darkgray;
}

#ChatWidgetMessagesAreaScrollBar:vertical
{
background-color: rgb(25, 25, 25);
width: 12px;
margin: 10px 2px 10px 0px;
border: 1px transparent #2A2929;
border-radius: 4px;
}

#ChatWidgetMessagesAreaScrollBar::handle:vertical
{
background-color: rgb(80, 80, 78);
min-height: 5px;
border-radius: 4px;
}

#ChatWidgetMessagesAreaScrollBar::sub-line:vertical
{
margin: 3px 0px 3px 0px;
border-image: url(:/qss_icons/rc/up_arrow_disabled.png);
height: 10px;
width: 10px;
subcontrol-position: top;
subcontrol-origin: margin;
}

#ChatWidgetMessagesAreaScrollBar::add-line:vertical
{
margin: 3px 0px 3px 0px;
border-image: url(:/qss_icons/rc/down_arrow_disabled.png);
height: 10px;
width: 10px;
subcontrol-position: bottom;
subcontrol-origin: margin;
}

#ChatWidgetMessagesAreaScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
background: none;
}

#ChatWidgetMessagesAreaScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
background: none;
}
